<template name="message">
    <div class="mainContainer">
        <div class="header">
            <div class="pic"></div>
            <div class="name"></div>
            <div class="logout">Logout</div>
        </div>
        <div class="body">
            <div class="prevMsg" >
                <div class="profilePic"></div>
                <div class="chat"></div>
                <div class="time"></div>
            </div>
            <div class="prevMsg" >
                <div class="profilePic"></div>
                <div class="chat"></div>
                <div class="time"></div>
            </div>
    
        </div>
        <div class="footer">
            <div class="msg">
                <textarea class="textArea" placeholder="message"></textarea>
            </div>
            <div class="btn">
                <input type="submit" class="button" value="Send">
            </div>
        </div>
    </div>
</template>